/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: fredoka, sans-serif;
}

main{
    max-width: 80%;
    margin: 0 auto;
}


/* regole intestazione */
header {
    text-align: center;
    margin: 2% 10%;
}

h1 {
    color: #e53170 ;
    margin-bottom: 4%;
}

/* regole card */
section{
    margin: 4% auto;
}

section::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    color: white;
    float: left;
    background-color: #13263a;
    width: calc((100% / 3) - 4%);
    height: 100%;
    margin: 0 2%;
    border-radius: 4px;
    box-shadow: -2px -1px 8px #13263a67;
}

/* regole interno card */

.card img{
    float: left;
    width: 80px;
    margin-right: 4%;
    border-radius: 4px 0 0 4px;
}

.text {
    margin: 8px 8px 8px 0;
}


a{
    color: rgb(0, 204, 255);
}