* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: fredoka, sans-serif;
}


/* intestazione */
header {
    text-align: center;
    margin: 2% 10%;
}

h1 {
    color: #e53170 ;
    margin-bottom: 4%;
}